.button-style {
  width: 10%;
  width: 10%;
  font-size: 50px;
  color: white;
  border: none;
  background: none;
}

.weather-view {
  background-color: rgb(56, 142, 231);
  color: white;
  margin-top: 30px;
}

.desc-img-view {
  height: auto;
  width: 100%;
}

.desc-img-view img {
  width: auto;
}

.temp-view {
  margin-left: 5px;
  border-left: solid 1px white;
}

.desc {
  width: 100%;
}

.sun-rise-set {
  text-align: center;
  font-size: medium;

}

.weather-grp2 {
  border-right: solid 1px white;
  font-size: medium;
}

.weather-main {
  color: whitesmoke;
  padding: 5px;
}

.weather-sub {
  background-color: rgba(13, 3, 50, 1);
  color: whitesmoke;
  padding: 20px;
  font-size: medium;
  display: flex;
  flex-direction: row;

}

@media screen and (max-width:570px) {

  .sun-rise-set,
  .weather-grp2 {
    border-right: none;
    text-align: center;
    font-size: small;
  }

}