.weather-card{

margin: 5px;


}
.dashboard{
    box-sizing: border-box;
}
.tempStyle{
    align-content: center;
    height:100%;

}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: rgb(172, 194, 197);
    border: 5px solid black;
    
}
