.card-temp {
  align-content: center;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.card-frame {
  position: relative;
  min-height: max-content;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
}

.card-main {
  width: 100%;
  height: 100%;
  background-image: url("../../../public/cardbg.png");
  background-size: cover;
  background-position: center;
}

.cardCover {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;

}

.sun-rise-set {
  text-align: center;
}

.wind-style {
  border-right: solid 2px white;
}

.weather-card {
  margin: 10px 10px 10px 10px;

}

.dashboard {
  box-sizing: border-box;
}

.weather-entry {
  margin: 10px 0px 0px 0px;
  padding-top: 10px;
}

.weather-sub {
  background-color: rgba(5, 6, 66, 0.96);
  color: whitesmoke;
  padding: 10px;

}

.sub-grp-1 {
  border-right: solid 1px white;

  display: table;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 0px;

}

a:hover {
  color: rgb(172, 194, 197);
}

@media screen and (max-width:570px) {

  .sun-rise-set,
  .wind-style,
  .sub-grp-1 {
    border-right: none;
    text-align: center;
  }

}

.bg-color-1 {
  background-color: rgb(156, 58, 58);
}

.bg-color-2 {
  background-color: rgb(222, 148, 90);
}

.bg-color-3 {
  background-color: rgb(64, 182, 129);
}

.bg-color-4 {
  background-color: rgb(56, 110, 231);
}

.bg-color-5 {
  background-color: rgb(98, 73, 204);
}

.gradient-color-1 {
  background: linear-gradient(rgb(156, 58, 58) 10%, rgb(156, 58, 58, 0.3) 90%);
}

.gradient-color-2 {
  background: linear-gradient(rgb(222, 148, 90) 10%, rgb(222, 148, 90, 0.3) 90%);
}

.gradient-color-3 {
  background: linear-gradient(rgb(64, 182, 129) 10%, rgb(64, 182, 129, 0.3) 90%);
}

.gradient-color-4 {
  background: linear-gradient(rgb(56, 110, 231) 10%, rgb(56, 110, 231, 0.1) 90%);
}

.gradient-color-5 {
  background: linear-gradient(rgb(98, 73, 204) 10%, rgb(98, 73, 204, 0.1) 90%);
}